<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.pengke.paper.scanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_donut_small_light_blue_500_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_donut_small_light_blue_500_24dp"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".scan.ScanActivity"
            android:label="@string/scan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".crop.CropActivity"
            android:label="@string/crop"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>
